.blogPage{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
}

.featuredandblogs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
    flex-wrap: wrap;
}